* text=auto

*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.html text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf

*.exe binary
*.apk binary
*.tar binary
*.sqlite3 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.docx binary
